.App {
	text-align: center;
}

.App-logo {
	/*height: 40vmin;*/
	height: 44px;
	pointer-events: none;
	position: absolute;
	top: 10px;
	left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	/*min-height: 100vh;*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-items: center;*/
	justify-content: center;
	/*font-size: calc(10px + 2vmin);*/
	color: white;
	position: relative;
}

.App-siteName {
	display: flex;
	padding: 22px 77px;
}

.App-link {
	color: #61dafb;
}

.App-body {
	padding: 50px;
}

.App-footer {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin-top: 33px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
